
// View Container Variables


$content-view-font-size: 1.5em;
$content-view-padding: 10em;

// View Container
.content-view {
  font-size: $content-view-font-size;
  padding-bottom: $content-view-padding;
  padding-top: $content-view-padding;
}

