
// View Container Variables

$content-view-text-color: black;
$content-view-font-size: 1.5em;


// View Container
.content-view {
  color: $content-view-text-color;
  font-size: $content-view-font-size;
}

